= simple_form_for resource, defaults: { wrapper_html: {class: 'form-group'}, input_html: {class: 'form-control '}} do |f|
  = f.input :name
  = f.association :group, collection: Group.all.order(:name), prompt: "Choose one"

  %h1= Answer.model_name.human.pluralize

  = f.simple_fields_for :answers do |g|

    = render 'answer_fields', :f => g

  .clearfix
    = link_to_add_association f, :answers, :class => 'btn btn-primary' do
      .glyphicon.glyphicon-plus
  .clearfix

  = render :partial => "shared/botton_form", :locals => { f: f, path: questions_path(page: params[:page], search_select: params[:search_select], search_text: params[:search_text]) }

  %input{:name => "page", :type => "hidden", :value => "#{params[:page]}"}