= simple_form_for resource, defaults: { wrapper_html: {class: 'form-group'}, input_html: {class: 'form-control '}} do |f|
  
  = f.input :name
  = f.association :poll, collection: Poll.all.order(:name), prompt: "Choose one"

  %h1= Question.model_name.human.pluralize
  %table.table.table-hover.table-striped
    %thead
      %th= Question.human_attribute_name :id
      %th= Question.human_attribute_name :name
    %tbody
    = f.simple_fields_for :questions do |g|
      %tr
        %td
          = g.object.try(:id)
        %td
          = link_to g.object.try(:name), edit_question_path(g.object)        

  = render :partial => "shared/botton_form", :locals => { f: f }