- content_for :title, Group.model_name.human.pluralize

= render :partial => "shared/search", :locals => { :controller_filter => controller.controller_name, :action_filter => 'index', options: Poll.all.order(:name).collect{ |u| [u.name, u.id] } }

%table.table.table-hover.table-striped
  %th
    = Group.human_attribute_name :id
  %th
    = Group.human_attribute_name :name
  %th
    = Poll.model_name.human
  %th
    = t('actions')
  - collection.each do |c|
    %tr
      %td
        = c.id
      %td
        = link_to c.name, edit_resource_path(c, page: params[:page], search_select: params[:search_select], search_text: params[:search_text])
      %td
        = c.poll.try(:name)
      %td
        = link_to resource_path(c), method: :delete,  data: { confirm: "Are you sure?" } do
          .glyphicon.glyphicon-trash

= paginate collection

.row
  .container{align: "right"}
    = link_to t(:new), new_resource_path(page: params[:page], search_select: params[:search_select], search_text: params[:search_text]), :class => 'btn btn-primary button'
