.form-group{align: "right"}
  = link_to t( :close ), path, class: "btn btn-danger"

  = f.submit t( :save ) , class: "btn btn-success"

= hidden_field_tag :page, params[:page]
= hidden_field_tag :search_select, params[:search_select]
= hidden_field_tag :search_text, params[:search_text]