= simple_form_for resource, defaults: { wrapper_html: {class: 'form-group'}, input_html: {class: 'form-control '}} do |f|
  = f.input :name
  = f.input :correct, input_html: {class: ''}
  
  = f.association :question, collection: Question.all.order(:name), prompt: "Choose one"

  = render :partial => "shared/botton_form", :locals => { f: f, path: answers_path(page: params[:page], search_select: params[:search_select], search_text: params[:search_text]) }
