= simple_form_for resource, defaults: { wrapper_html: {class: 'form-group'}, input_html: {class: 'form-control '}} do |f|

  = f.input :name
  = f.input :description, input_html: {  rows: 5 }

  %h1= Group.model_name.human.pluralize

  = f.simple_fields_for :groups do |g|
    = render 'group_fields', :f => g

  .clearfix
    = link_to_add_association f, :groups, :class => 'btn btn-primary' do
      .glyphicon.glyphicon-plus
  .clearfix

  = render :partial => "shared/botton_form", :locals => { f: f, path: polls_path }

