- content_for :title, Poll.model_name.human.pluralize

%table.table.table-hover.table-striped
  %th
    = Poll.human_attribute_name :id
  %th
    = Poll.human_attribute_name :name
  %th
    = t('actions')
  - collection.each do |c|
    %tr
      %td
        = c.id
      %td
        = link_to c.name, edit_resource_path(c)
      %td
        = link_to resource_path(c), method: :delete,  data: { confirm: "Are you sure?" } do
          .glyphicon.glyphicon-trash

= paginate collection

.row
  .container{align: "right"}
    = link_to t(:new), new_resource_path, :class => 'btn btn-primary button'
